@use "base" as *;

body {
    text-align: center;
}
h1 {
    // @include main-color;
    color: $main-color;
    font-family: $font;
    font-size: 1.5rem;
}
p{
    text-transform: lowercase;
    font-size: 1.3rem;
}

img {
  display: block;
  text-indent: -9999px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 40px;
  width: 500px;
  background-size: 500px;
}