@import url(_base.scss);

nav {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;

    a {
        padding: 10px;
        text-decoration: none;
        color: $main-color;
    }
}

.chat {
    width: 80px;
    height: 80px;
    border: 2px solid $main-color;
    position: absolute;
    top: 50%;
    left: 50%;
}