@font-face {
    font-family: 'TT Firs Neue';
    src: url('../static/fonts/TTFirsNeue-Light.woff2');
    font-weight: 300;
    font-style: light;
}
@font-face {
    font-family: 'TT Firs Neue';
    src: url('../static/fonts/TTFirsNeue-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}
$font: 'TT Firs Neue';
$main-color: rgb(88,89,91);
$accent-color: #d76561;

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $font, sans-serif;
    text-transform: uppercase;
    font-style: light;
    font-size: 28px;
    color: $main-color;
}